{% extends "components/base.twig" %}

{% block content %}

	<!-- BACKGROUND -->
	<section id="background">
	</section><!-- end BACKGROUND -->


	<!-- RESPONSIVE MENU -->
	<div id="responsive-menu">
		<a href="#" id="responsive-menu-list">
			<div class="responsive-menu-bar">
				<span>Menu</span>
				<i class="fa fa-list"></i>
			</div>
		</a>
		<ul class="responsive-menu-disable">
			<li>
				<a href="#content-wrap" class="page-scroll-responsive">
					<i class="fa fa-long-arrow-left"></i>
					<h3>
						back to home
					</h3>
				</a>
			</li>
			<li>
				<a href="#about" class="page-scroll-responsive">
					<i class="fa fa-user"></i>
					<h3>
						about
					</h3>
				</a>
			</li>
			<li>
				<a href="#resume" class="page-scroll-responsive">
					<i class="fa fa-globe"></i>
					<h3>
						resume
					</h3>
				</a>
			</li>
			<li>
				<a href="#portfolio" class="page-scroll-responsive">
					<i class="fa fa-book nav-left"></i>
					<h3>
						portfolio
					</h3>
				</a>
			</li>
			<li>
				<a href="#contact" class="page-scroll-responsive">
					<i class="fa fa-envelope"></i>
					<h3>
						contact
					</h3>
				</a>
			</li>

		</ul>
	</div><!-- end RESPONSIVE MENU -->


	<!-- MAIN CONTENT -->
	<section id="content-wrap">
		<div class="container-liquid">
			
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 main-content">
					<div class="profile-avatar overlay">
						<img src="images/logo.png" alt="tomislav svecak logo">
					</div>
					<h2>
						Tomislav Svecak
					</h2>
					<p>
						Hi, I’m a <span>Wordpress</span> and <span>Front end developer</span>. <br>I love being minimal and creative. <br>
						Do you wanna know more about me? <br>
						Simply click on about and let's build something awesome :)
					</p>
				</header>
			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 navigations">
					<ul>

						<li id="about-link">			
							<a href="#about" class="page-scroll about">
								<h3>
									about
								</h3>
								<i class="fa fa-user nav-left"></i>
							</a>
						</li>	

						<li id="resume-link">
							<a href="#resume" class="page-scroll page-right resume">
								<h3>
									resume
								</h3>
								<i class="fa fa-globe nav-right"></i>
							</a>
						</li>

						<li id="portfolio-link">
							<a href="#portfolio" class="page-scroll portfolio">
								<h3>
									portfolio
								</h3>
								<i class="fa fa-book nav-left"></i>
							</a>
						</li>
										
						<li id="contact-link">
							<a href="#contact" class="page-scroll page-right contact">
								<h3>
									contact
								</h3>
								<i class="fa fa-envelope nav-right"></i>
							</a>
						</li>
						
					</ul>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 social-icons">
					<ul>
						
						<li>
							<a class="facebook" target="_blank" href="https://facebook.com/tomislav.svecak">
								<i class="fa fa-facebook"></i>
							</a>
						</li>

						<li>
							<a class="linkedin" target="_blank" href="https://hr.linkedin.com/in/tomislavsvecak">
								<i class="fa fa-linkedin"></i>
							</a>
						</li>

					</ul>
				</div>
			</div>
		</div>
	</section><!-- end MAIN CONTENT -->



	<!-- ABOUT -->
	<section id="about" class="cat-pages">
		<div class="container-liquid">

			<!-- TITLE -->
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						about me
					</h2>
				</header>
			</div><!-- end TITLE -->

			<!-- DESCRIPTION -->
			<div class="row">
				<div class="col-lg-8 col-md-9 col-sm-9 col-xs-10 about-description">
					<p>
						Hey there! =)<br>
						My name is Tomislav Svecak and I come from small country with great seaside, marvelous food and crazy people, <span><a href="http://en.wikipedia.org/wiki/Croatia" target="_blank">Croatia</a></span>.<br>
					</p>
				</div>
			</div><!-- end DESCRIPTION -->

			<!-- ICONBOX -->
			<div class="row">
				<div class="col-lg-8 col-md-9 col-sm-9 col-xs-9 iconbox">
					<ul>
						<li>
							<i class="fa fa-cut"></i>
							<h3>
								cool haircut
							</h3>
							<p>
								As front end developer you always have to take care of your haircut. Since my haircut is always extraordinary it's not too hard to keep my code clean and simple.
							</p>
						</li>
						<li class="iconbox-right">
							<i class="fa fa-paper-plane-o"></i>
							<h3>
								abs development
							</h3>
							<p>
								Since my job is really challenging I have to keep my abs shaped. I prefer gym to keep my abs shaped but I also like to take a long walk, run and play football or basketball.
							</p>
						</li>
						<li>
							<i class="fa fa-wrench"></i>
							<h3>
								front what?
							</h3>
							<p>
								That was my first reaction to Front end development. Since I was 12 years old I watched HTML, CSS and JS but it was only to have fun. Now 10 years later I dream of HTML, CSS and JS. As young and ambitious front end developer  I can't wait to show You what I'am capable to do. =) Feel free to check my portfolio or contact me. Or you could do both :)
							</p>
						</li>
					</ul>
				</div>
			</div><!-- end ICONBOX -->
		</div>
	</section><!-- end ABOUT -->



	<!-- RESUME -->
	<section id="resume" class="cat-pages">
		<div class="container-liquid">

			<!-- TITLE -->
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						resume
					</h2>
				</header>
			</div><!-- end TITLE -->

			<!-- TIMELINE -->
			<div class="row">
				<div class="col-lg-9 col-md-9 col-sm-9 col-xs-10 timeline">

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 timeline-left">
						<i class="fa fa-graduation-cap"></i>
						<h3>
							education
						</h3>
						<ul>
							<li style="margin-top: 80px;">
								<span>
									2013 - 2014
								</span>
								<h4>
									IT University Algebra
								</h4>
								<p>
									In 2013 I went on Web Design course in IT University Algebra. Course was related to HTML, CSS,PHP, MySQL JS, Fireworks, Photoshop
								</p>
							</li>
							<li>
								<span>
									2008-2012
								</span>
								<h4>
									Mechanical-technical school
								</h4>
								<p>
									Thanks to Mechanical-technical school Faust Vrancic in Zagreb I found out what I really want to do in my life.
								</p>
							</li>
						</ul>
					</div>

					<div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 timeline-right">
						<i class="fa fa-briefcase"></i>
						<h3>
							employment
						</h3>
						<ul>
							<li>
								<span>
									March 2016 - Present
								</span>
								<h4>
									Bank of Ireland
								</h4>
								<p>
									After being crazy in Rogue I was offered to be part of a team that will change the way bank works in Bank of Ireland. Along with some incredible developers we are building great UX and UI pages using latest technologies such as Twig, SCSS, Angular JS, AWS Cloud Services etc.
								</p>
							</li>
							<li>
								<span>
									October 2015 - March 2016
								</span>
								<h4>
									Rogue.ie
								</h4>
								<p>
									October 2015 was really interesting month for me! I moved to Dublin/Ireland and started to work as Front End Developer in Creative agency Rogue. We are ambitious agency with crazy creative people doing some really amazing job!
								</p>
							</li>
							<li>
								<span>
									November 2014 - October 2015
								</span>
								<h4>
									inWeb.hr
								</h4>
								<p>
									Since November 2014 I work as Front end developer in inWeb.hr. It's small web designing company focused on front end and wordpress web development.
								</p>
							</li>
							<li>
								<span>
									2013 - 2014
								</span>
								<h4>
									freelancer and part time jobs
								</h4>
								<p>
									In 2013 I changed several jobs searching for right place for me. Unfortunately without success. I had my first serious web design project in 2014 for small catering in Zagreb. After that project I had several small projects.
								</p>
							</li>
							<li>
								<span>
									Youth organization Status-M 2010-2013
								</span>
								<h4>
									peer educator
								</h4>
								<p>
									Volunteered and worked as an educator. I have conducted more than 200 workshops, 20 camps and worked with more than 1000 young persons and school stuff.
								</p>
							</li>
						</ul>
					</div>

				</div>
			</div><!-- end TIMELINE -->

			<!-- SKILLS -->
			<!--<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-9 col-md-9 col-sm-9 col-xs-12 skills">

						<div class="skills-title">
							<h3>
								skills
							</h3>
							<i class="fa fa-flash"></i>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 skill-item">
							<input type="text" value="82" class="dial">
							<h5>
								html
							</h5>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 skill-item">
							<input type="text" value="71" class="dial">
							<h5>
								css
							</h5>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 skill-item">
							<input type="text" value="35" class="dial">
							<h5>
								php
							</h5>
						</div>

						<div class="col-lg-3 col-md-6 col-sm-3 col-xs-6 skill-item">
							<input type="text" value="72" class="dial">
							<h5>
								wordpress
							</h5>
						</div>

					</div>
				</div>
			</div>--><!-- end SKILLS -->

		</div>
	</section><!-- end RESUME -->



	<!-- PORTFOLIO -->
	<section id="portfolio" class="cat-pages">
		<div class="container-liquid">

			<!-- TITLE -->
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						portfolio
					</h2>
					<h3>These are just some of my recent works!</h3>
				</header>
			</div><!-- end TITLE -->

			<!-- GALLERY -->
			<div class="row">
				<div class="col-lg-9 col-md-12 col-sm-12 col-xs-12 portfolio-items portfolio-gallery">

					<ul>
						<li>
							<a href="http://trinitycu.ie/" target="_blank" title="Trinity Credit Union - Web Design">
								<img src="images/portfolio02.jpg" alt="Trinity Credit Union">
								<div class="portfolio-description">
									
										<h3>
											Trinity 
										</h3>
										<p>
											Credit Union
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://iservice.hr/" target="_blank" title="iService - Apple and smartphone service">
								<img src="images/portfolio03.jpg" alt="iService">
								<div class="portfolio-description">
									
										<h3>
											iService.hr
										</h3>
										<p>
											Apple service
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://growthafrica.com/" target="_blank" title="My Portfolio">
								<img src="images/portfolio07.jpg" alt="GrowthAfrica">
								<div class="portfolio-description">
									
										<h3>
											GrowthAfrica
										</h3>
										<p>
											Growth of East Africa
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://f100.club/" target="_blank" title="My Portfolio">
								<img src="images/portfolio06.jpg" alt="F100 Club">
								<div class="portfolio-description">
									
										<h3>
											F100 club
										</h3>
										<p>
											Pitch Factory - Berlin startup company
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://obrt-zlatoper.hr/" target="_blank" title="Obrt Zlatoper - cleaning service">
								<img src="images/portfolio01.jpg" alt="Obrt Zlatoper">
								<div class="portfolio-description">
									
										<h3>
											Obrt Zlatoper
										</h3>
										<p>
											Cleaning service
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://heat4all.hr/" target="_blank" title="Heat4all - Infrared heating">
								<img src="images/portfolio04.jpg" alt="Heat4all">
								<div class="portfolio-description">
									
										<h3>
											AzuruSpirit
										</h3>
										<p>
											Sweet spirit drink
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://matijasundalic.com/" target="_blank" title="My Portfolio">
								<img src="images/portfolio05.jpg" alt="Matija Sundalic">
								<div class="portfolio-description">
									
										<h3>
											Matija Sundalic
										</h3>
										<p>
											Graphic designer
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://rogue.ie/" target="_blank" title="My Portfolio">
								<img src="images/portfolio08.jpg" alt="Teb-Ing" >
								<div class="portfolio-description">
									
										<h3>
											Rogue Creative Dublin
										</h3>
										<p>
											Full servcie creative agency
										</p>
									
								</div>
							</a>
						</li>
						<li>
							<a href="http://p2grips.com/" target="_blank" title="My Portfolio">
								<img src="images/portfolio09.jpg" alt="Autopark Sesvete">
								<div class="portfolio-description">
									
										<h3>
											P2 Putter Grips
										</h3>
										<p>
											Irelands best grips
										</p>
									
								</div>
							</a>
						</li>
					</ul>

				</div>
			</div><!-- end GALLERY -->

			<!-- QUOTES -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-8 col-md-9 col-sm-8 col-xs-11 quotes" id="quote-slideshow">

						<ul class="bjqs">

							<li>
								<p>
									Start by doing what's necessary; then do what's possible; and suddenly you are doing the impossible.
								</p>
								<div class="quote-name">
									<p>by</p>
									<span>
										Francis of Assisi
									</span>
								</div>
							</li>

							<li>
								<p>
									Perfection is not attainable, but if we chase perfection we can catch excellence.
								</p>
								<div class="quote-name">
									<p>by</p>
									<span>
										Vince Lombardi
									</span>
								</div>
							</li>

							<li>
								<p>
									In order to succeed, we must first believe that we can.
								</p>
								<div class="quote-name">
									<p>by</p>
									<span>
										Nikos Kazantzakis
									</span>
								</div>
							</li>

							<li>
								<p>
									Whoever is happy will make others happy too.
								</p>
								<div class="quote-name">
									<p>by</p>
									<span>
										Anne Frank
									</span>
								</div>
							</li>

							<li>
								<p>
									You are never too old to set another goal or to dream a new dream.
								</p>
								<div class="quote-name">
									<p>by</p>
									<span>
										C. S. Lewis
									</span>
								</div>
							</li>

						</ul>
					</div>
				</div>
			</div><!-- end QUOTES -->

		</div>
	</section><!-- end PORTFOLIO -->

	
	<!-- CONTACT -->
	<section id="contact" class="cat-pages">
		<div class="container-liquid">

			<!-- TITLE -->
			<div class="row">
				<header class="col-lg-12 col-md-12 col-sm-12 col-xs-12 cat-pages-title">
					<div class="title-seprator"></div>
					<h2>
						contact
					</h2>
				</header>
			</div><!-- end TITLE -->

			<!-- GOOGLE MAP -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-9 col-md-10 col-sm-10 col-xs-11 googlemap">
						<div id="map-canvas"></div>
					</div>
				</div>
			</div><!-- end GOOGLE MAP -->

			<!-- CONTACT INFO & FORM -->
			<div class="row">
				<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
					<div class="col-lg-9 col-md-10 col-sm-10 col-xs-11 contact-section">

						<!-- CONTACT INFO -->
						<div class="col-lg-5 col-md-12 col-sm-5 col-xs-12 contact-info">
							<p>
								If you still think I'am cool enough for your project let me know. Send me an email or just fill text areas. :)
							</p>
							<ul>
								<li>
									<i class="fa fa-home"></i>
									<p>Dublin, Ireland</p>
								</li>
								<li>
									<i class="fa fa-phone"></i>
									<p>+353 83 487 1471</p>
								</li>
								<li>
									<a href="https://www.facebook.com/tomislav.svecak" target="_blank"><i class="fa fa-facebook"></i>
									<p>Tomislav Svecak</p></a>
								</li>
								<li>
									<i class="fa fa-envelope"></i>
									<p>tsvecak[at]gmail.com</p>
								</li>
							</ul>
						</div><!-- end CONTACT INFO -->


						<div class="col-lg-7 col-md-12 col-sm-7 col-xs-12 contact-form">
							<form method="post" id="contactform" name="contactform">
								<input type="text" name="name" id="name" placeholder="name">
								<input type="email" name="email" id="email" placeholder="email">
								<input type="text" name="subject" id="subject" placeholder="subject">
								<textarea name="message" id="message" placeholder="message"></textarea>
								<input type="submit" name="submit" id="submit" value="submit">
							</form>

							<h4 id="cf-success">
								<i class="fa fa-check"></i> Thank You for you mail! I'll try to answer you as quick as possible =)
							</h4>

							<h4 id="cf-error">
								<i class="fa fa-times"></i> Something went wrong, try refreshing and submitting the form again.
							</h4>
						</div>

					</div>
				</div>
			</div><!-- end CONTACT INFO & FORM -->
		</div>
	</section><!-- end CONTACT -->

{% endblock %}